.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.about_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 160px;
}

.title {
    font-family: 'Neue Metana Next Free Personal';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 43px;

    color: #F9F9F9;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: justify;
    color: #F9F9F9;
    max-width: 840px;
}