.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 128px;
}

.photo_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 96px;

    font-family: 'Neue Metana Next Free Personal';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 43px;

    color: #D3738A;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ellipse {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: -36px;
    padding: 0 272px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    align-self: stretch;
    max-width: 808px;

    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;

    color: #F9F9F9;
}
