.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 112px;
    align-self: stretch;
}

.title {
    font-family: 'Neue Metana Next Free Personal';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 43px;

    color: #120824;
}

.characters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 36px;
    align-self: stretch;
}