.App {
  display: flex;
  flex-direction: column;
  background-image: url(../public/substrate.svg);
  background-repeat: no-repeat;
  overflow-y: auto;
  overflow-x: clip;
  padding: 48px 162px;
  gap: 148px;
}

@font-face {
  font-family: 'Neue Metana Next Free Personal';
  src: local('Neue Metana Next Free Personal'), url(./fonts/NeueMetanaNext-SemiBold.ttf) format('ttf');
}

@media screen and (max-width: 1600px){
  .App {
    padding: 48px 80px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

