.App {
  display: flex;
  flex-direction: column;
  background-image: url(../public/substrate.svg);
  background-repeat: no-repeat;
  overflow: auto;
  padding: 48px 162px;
  gap: 148px;
}

@media screen and (max-width: 1600px){
  .App {
    padding: 48px 80px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

